@mixin flex-content( $justify: center, $align: center, $direction: row, ) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@function em($pixels) {
  @return ($pixels / 13) * 1em;
}

.rack {
  width: 100%;
  max-width: 28em;
  &:before {
    content: '';
  }
  &-control {
    width: 24em;
    max-width: 24em;
    background: #373737;
    padding: 2em 0;
    border-radius: em(4);
    &-item {
      @include flex-content();
      position: relative;
      &:first-child {
        .rack-control-item-border {
          border-radius: em(3) em(3) 0 0;
        }
      }
      &:last-child {
        .rack-control-item-border {
          border-radius: 0 0 em(3) em(3);
        }
      }
      &-border {
        background: #A8A8A8;
        width: em(7.85);
        height: em(19.85);
        border: 1px solid #D1D1D1;
        @include flex-content();
        margin-left: em(7);
        &-circle {
          width: em(3.61);
          height: em(3.61);
          background: #D1D1D1;
          border: 1px solid #D1D1D1;
          border-radius: 50%;
        }
      }
      &-id {
        color: #ffffff;
        width: 1em;
        @include flex-content(flex-end)
      }
      &-unit {
        width: 82%;
        max-width: 20.277em;
        height: 1.308em;
        border: 1px solid #828282;
        background: #000000;
        margin: 0.154em;
        &-hover {
          display: none;
          color: #EF0AA1;
          font-size: em(12);
          span {
            cursor: pointer;
          }
        }
        &:hover {
          .rack-control-item-unit-hover {
            width: 100%;
            height: 100%;
            @include flex-content();
          }
        }
      }
      &-used {
        position: absolute;
        background: rgba(130, 130, 130, .5);
        border: 1px solid #828282;
        width: 19.65em;
        z-index: 9;
        top: .01em;
        margin: 0.154em;
        right: 1.5em;
        max-width: 20.277em;
        @include flex-content();
        &-action {
          @include flex-content(center, center, column);
          background: rgba(239, 10, 161, 0.9);
          border: 1px dashed #ffffff;
          box-sizing: border-box;
          border-radius: 2px;
          color: #ebebeb;
          font-size: 14px;
          display: none;
          z-index: 99;
          position: absolute;
          &-button {
            @include flex-content();
            &-divider {
              height: 1.077em;
              opacity: .5;
              background: #ffffff;
            }
          }
        }
        &:hover {
          .rack-control-item-used-action {
            display: flex;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  &-leg {
    @include flex-content(space-between);
    padding-left: 2.1em;
    padding-right: 0.6em;
    width: 24em;
  }
}

